<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input name="phone_number" type="text">
    <input name="password" type="text">
    <input type="submit">
</form>
</body>
</html>
